* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 200px;
}

a {
  font-style: none;
  text-decoration: none;
  color: inherit;
}

ul {
  margin-left: auto;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

li, .intro-text {
  font-size: 18px;
  color: #E5E7EB;
}

body {
  display: flex;
  flex-direction: column;
}

button {
  background-color: #3882F6;
  color: #F9FAF8;
}

footer {
  color: #F9FAF8;
  text-align: center;
}

.header, footer, .intro {
  background-color: #1F2937;
}

.intro-title {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

.header {
  display: flex;
  flex-direction: row;
  padding: 10px 100px 10px 100px;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
}

.intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 100px;
}

.intro-img {
  flex: 1;
}

.info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 50px;
  padding: 40px 0;
  margin-bottom: 60px;
}

.info-title {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}

.info-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.quote {
  background-color: #E5E7EB;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
}

.info-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 200px;
}

.info-text {
  text-align: center;
}